body {
  background-color: #00004D;
}

#header {
  margin-top: 10%;
  color: #49FCE4;
  font-weight: bolder;
}

#sub-header {
  color: #49FCE4;
  font-weight: bolder;
}

#create-field {
  background-color: #00004D;
  border-bottom: 2px solid #49FCE4;
  width: 300px;
  color: #49FCE4;
  font-weight: bolder;
  font-size: 14px;
}

#create-field::placeholder {
  color: #49FCE4;
  font-weight: bolder;
  font-size: 14px;
}

#create-button {
  border: 3px solid #49FCE4;
  background-color: #00004D;
  color: #49FCE4;
  padding: 5px;
}

#list-container {
  margin-top: 5%;
}

.item {
  margin-top: 5%;
}

.item-container {
  display: flex;
  justify-content: center;
  margin-right: 20%;
}

.todo-item {
  margin-right: 100px;
  width: 550px;
}

.todo-item {
  font-size: 20px;
  margin-right: 100px;
}

.bright-color {
  color: #49FCE4;
}
